.hero {
  position: relative;
  height: 50%;
  overflow: hidden;
}

.theatre {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.theatre__curtain {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  background-color: white;

  will-change: transform;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.theatre__curtain--left {
  left: 0;
  transform-origin: left 0;
}

.theatre__curtain--right {
  right: 0;
  transform-origin: right 0;
}

.theatre__stage {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;

  background-image: url(jump.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.placeholder-content {
  height: 75vh;
}

.inspired-container {
  margin: 0;
  padding: 0;
}
