.hero {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.theatre {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

@keyframes openCurtain {
  0% {
    transform: scaleX(1);
    width: 50%;
  }
  100% {
    transform: scaleX(0);
    width: 0%;
  }
}

@keyframes shiftDown {
  0% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}

.theatre__curtain {
  will-change: transform;
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;

  animation-name: openCurtain;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s, 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.theatre__curtain--left {
  background-color: crimson;

  left: 0;
  transform-origin: left 0;
}

.theatre__curtain--right {
  background-color: aquamarine;

  right: 0;
  transform-origin: right 0;
}

.theatre__stage {
  background-color: cornflowerblue;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;

  background-image: url(jump.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  animation-name: shiftDown;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s, 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
